# Godot 4+ specific ignores
.godot/
/android/
godot_project/addons
godot_project/android/

godot_project/asset/addons/

godot-cpp-build/
bin/
build-android/
CMakeFiles/
_deps/

cmake_install.cmake
CMakeCache.txt
Makefile