# Godot 4+ specific ignores
.godot/
/android/
godot_project/addons
godot_project/android/
godot_project/export/

godot_project/asset/addons/

godot-cpp-build/
bin/
build/
build-android/
CMakeFiles/
_deps/
native/src/jellyvr/third_party/windows

cmake_install.cmake
CMakeCache.txt
Makefile