# Godot 4+ specific ignores
.godot/
/android/
godot_project/addons

godot-cpp-build/
bin/
CMakeFiles/
_deps/

cmake_install.cmake
CMakeCache.txt
Makefile

#WIP files

native/src/jellyvr/network/Carousel.h
native/src/jellyvr/network/Carousel.cpp